/*I am assigning a font family to all the text elements in the website.*/
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    text-align: center;
    color: #a14d03;
    background-color: bisque;
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
    text-align: center;
}


/*NAVIGATION MENU*/
nav {
    height: 10vh;
    border: 2px solid #ff7700;
    background-color: bisque;
    padding: 20px;
}
/*I am resetting the default list styles, removing the bullets and displaying
the menu on a horizontal line.*/
nav ul {
    list-style: none;
    padding: 5px;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
nav li {
    border: 2px solid #ff7700;
    padding: 5px 20px;
}
nav a {
    text-decoration: none;
    font-weight: 500;
}
nav a:hover {
    color: #a14d03;
}

/*BOTTOM PART OF THE SCREEN*/
iframe#home {
    width: 100%;
    height: 85vh;
    border: 2px solid #ff7700;
}

div.space {
    height: 10vh;
}

div.pages {
    width: 100%;
}

/*INDEX.HTML*/
img.logo {
    display: block;
    margin: auto;
    width: 59vh;
    border: 2px solid #ff7700;
    display: flex;
    justify-content: center;
}

img.minilogo {
    width: 10vh;
    border: 2px solid #ff7700;
}

/*ABOUT.HTML*/
img.about {
    display: block;
    margin: auto;
    height: 60vh;
    border: 2px solid #ff7700;
    display: flex;
    justify-content: center;
}

/*CONTACT.HTML*/
iframe#map {
    border: 2px solid #ff7700;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
}

.form {
    width: 90%;
    border-radius: 2px; 
    border: 1px solid #ff7700;
    padding: 1vh;
    background-color: #fcebdb;
}

.row {
    width: 100%;
}

.col-25 {
    float: left;
    width: 35%;
    margin-top: 6px;
    text-align: left;
}
  
.col-75 {
    float: left;
    width: 65%;
    margin-top: 6px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid #a14d03;
    border-radius: 3px;
    resize: vertical;
    font-size: 0.8em;
    text-align: left;
}

textarea {
    height:20vh;
}
  
/* Clear floats after the rows */
.row::after {
    content: "";
    display: table;
    clear: both;
}
  
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}

@media screen and (min-width: 1000px) {
    .container {
        width: 1000px;
        display: flex;
        justify-content: center;
    }
}