/*I am assigning a font family to all the text elements in the website, as well as a background colour and the box-sizing property set to border-box. */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.98em;
    text-align: center;
    color: #a14d03;
    background-color: bisque;
    box-sizing: border-box;
}

h1 {
    font-size: 2.3em;
    text-align: center;
}

/*NAVIGATION MENU*/
nav {
    height: auto;
    border: 2px solid #ff7700;
    background-color: bisque;
    padding: 20px;
}
/*I am resetting the default list styles, removing the bullets and displaying
the menu on a horizontal line.*/
nav ul {
    list-style: none;
    padding: 5px;
    margin: 0;
    display: block;
}
nav li {
    width: 100%;
    margin: 3px;
    border: 1px solid #ff7700;
    padding: 5px 20px;
}
nav a {
    text-decoration: none;
    font-weight: 500;
}
nav a:hover {
    color: #ff7700;
}

/*BOTTOM PART OF THE SCREEN*/
iframe#home {
    width: 100%;
    height: 67vh;
    border: 2px solid #ff7700;
}
div.space {
    height: 10vh;
}
div.pages {
    width: 100%;
}

/*HOME.HTML*/
img.logo {
    display: block;
    margin: auto;
    width: 59%;
    border: 2px solid #ff7700;
    display: flex;
    justify-content: center;
}

/*ABOUT.HTML*/
img.about {
    height: 60vh;
    border: 2px solid #ff7700;
}

/*GROUP.HTML*/
img.group {
    width: 80%;
}
img.group_sm {
    width: 50%;
}

/*PROJECTS.HTML*/
a.project {
    text-decoration: none;
    font-weight: 500;
}
a.project:hover {
    color: #ff7700;
}
p.not-available {
    font-style: italic;
}

/*CONTACT.HTML*/

img.minilogo {
    width: 10vh;
    border: 2px solid #ff7700;
}

iframe#map {
    border: 2px solid #ff7700;
    box-sizing: border-box;
    width: 76vw;
    height: 57vw;

}

.container {
    display: flex;
    justify-content: center;
}

.form {
    width: 90%;
    border-radius: 2px; 
    border: 1px solid #ff7700;
    padding: 1vh;
}

.row {
    width: 100%;
}

.col-25 {
    float: left;
    width: 100%;
    margin-top: 6px;
    text-align: left;
}
  
.col-75 {
    float: left;
    width: 100%;
    margin-top: 6px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid #a14d03;
    border-radius: 3px;
    resize: vertical;
    font-size: 0.8em;
    text-align: left;
}

textarea {
    height:30vh;
}

/*submit button*/
input[type=submit] {
    background: bisque;
    color: #a14d03;
    border: 1px solid #a14d03;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #db7d2b;
}

input[type=submit]:hover {
    background: #ff7700;
    color: #a14d03;
    border: 1px solid #a14d03;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #db7d2b;
}
  
/* Clear floats after the rows */
.row::after {
    content: "";
    display: table;
    clear: both;
}