/*I am assigning a font family to all the text elements in the website, as well as a background colour and the box-sizing property set to border-box. */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.98em;
    text-align: center;
    color: #a14d03;
    background-color: bisque;
    box-sizing: border-box;
}

h1 {
    font-size: 2.3em;
    text-align: center;
}

/*NAVIGATION MENU*/
nav {
    height: auto;
    border: 2px solid #ff7700;
    background-color: bisque;
    padding: 20px;
}
/*I am resetting the default list styles, removing the bullets and displaying
the menu on a horizontal line.*/
nav ul {
    list-style: none;
    padding: 5px;
    margin: 0;
    display: block;
}
nav li {
    width: 100%;
    margin: 3px;
    border: 1px solid #ff7700;
    padding: 5px 20px;
}
nav a {
    text-decoration: none;
    font-weight: 500;
}
nav a:hover {
    color: #ff7700;
}

/*BOTTOM PART OF THE SCREEN*/
iframe#home {
    width: 100%;
    height: 67vh;
    border: 2px solid #ff7700;
}
div.space {
    height: 10vh;
}
div.pages {
    width: 100%;
}

/*INDEX.HTML*/
img.logo {
    display: block;
    margin: auto;
    width: 59%;
    border: 2px solid #ff7700;
    display: flex;
    justify-content: center;
}

img.minilogo {
    width: 10vh;
    border: 2px solid #ff7700;
}

/*ABOUT.HTML*/
    img.about {
    height: 60vh;
    border: 2px solid #ff7700;
}

/*PROJECTS.HTML*/
a.project {
    text-decoration: none;
    font-weight: 500;
}
a.project:hover {
    color: #ff7700;
}
p.not-available {
    font-style: italic;
}