/*I am assigning a font family to all the text elements in the website, as well as a background colour and the box-sizing property set to border-box. */
* {
    font-family: Geneva, Verdana, Tahoma, sans-serif;
    font-size: 0.95em;
    text-align: center;
    color: #0241e1;
    background-color: #deeefd;
    box-sizing: border-box;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1em;
}

/*NAVIGATION MENU*/
nav {

    background-color: #deeefd;
    padding: 20px;
    float: left;
    width: 30%;
    height: 98vh;
    overflow: auto;
}
nav ul {
    list-style: none;
    padding: 5px;
    margin: 0;
    float: left;
    text-align: center;
    width: 100%;
}
nav li {
    margin: 5px 0;
    border: 2px solid #0241e1;
    padding: 5px 20px;
    display: block;
    width: 100%;
}
nav a{
    font-weight: 800;
}
a {
    text-decoration: none;
}
a:hover {
    color: #ff7700;
}

/*RIGHT/BOTTOM PART OF THE SCREEN*/
iframe#home {
    float: left;
    width: 70%;
    height: 98vh;
    border: 2px solid #0241e1;
}
div.space {
    height: 8vh;
    border: none;
}
div.smallspace {
    height: 5vh;
    border: none;
}
div.pages {
    width: 100%;
    scrollbar-color: #0241e1 #deeefd;
}

/* Responsive design, for small screen devices: */
@media only screen and (max-width: 600px) {
    nav {
        width: 100%;
        height: auto;
    }
    iframe#home {
        width: 100%;
        height: 95vh;
    }
}

/*HOME.HTML*/
img.logo {
    width: 59vh;
}
img.picture {
    width: 59vh;
    border: 2px solid #0241e1;
}
/* Responsive design, for small screen devices: */
@media only screen and (max-width: 600px) {
    img.logo {
        width: 59vw;
    }
    img.picture {
        width: 59vw;
        border: 2px solid #0241e1;
    }
}

/*ABOUT.HTML*/
img.about {
    height: 45vh;
    border: 2px solid #0241e1;
}
p.about {
    padding: 2% 10%;
}
/* Responsive design, for small screen devices: */
@media only screen and (max-width: 600px) {
    img.about {
        height: 60vw;
    }
}

/*GROUP.HTML*/
img.group {
    width: 80%;
}
img.group_sm {
    width: 50%;
    border: 2px solid #ff7700;
}

/*BOOK.HTML*/
div.menu {
    height: 200%;
    overflow: hidden;
}






/*CONTACT.HTML*/
img.minilogo {
    width: 10vh;
    border: none;
}
iframe#map {
    margin-top: 1vh;
    border: 2px solid #0241e1;
    box-sizing: border-box;
    width: 400px;
    height: 300px;
}
.container {
    display: flex;
    justify-content: center;
}
.form {
    width: 90%;
    border-radius: 5px;
    border: 1px solid #0241e1;
    padding: 1vh;
}
.row {
    width: 100%;
}
.col-35 {
    float: left;
    width: 35%;
    margin-top: 6px;
    text-align: left;
}
.col-65 {
    float: left;
    width: 65%;
    margin-top: 6px;
}
/* Clear floats after the rows */
.row::after {
    content: "";
    display: table;
    clear: both;
}
input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid #0241e1;
    border-radius: 5px;
    resize: vertical;
    font-size: 0.8em;
    text-align: left;
}
textarea {
    height: 15vh;
}
/*submit button*/
input[type=submit] {
    background: #deeefd;
    color: #0241e1;
    border: 1px solid #0241e1;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #db7d2b;
    cursor: pointer;
}
input[type=submit]:hover {
    background: #ff7700;
    color: #deeefd;
    border: 1px solid #a14d03;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #db7d2b;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    iframe#map {
        margin-top: 1vh;
        border: 2px solid #0241e1;
        width: 76vw;
        height: 57vw;
    }
    .col-35, .col-65 {
        width: 100%;
        margin-top: 0;
    }
    input[type=submit] {
        margin-top: 0;
    }